<div class="headerDiv">
    <div class="logoDiv">
        <img src="/logo.png" height="50px"/>
    </div>
    <div>
        <nav>
            <ul>
              <li>
                <a href="/">
                  <span> Home </span>
                </a>
              </li>
            </ul>
          </nav>
          
    </div>
</div>